*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: rgba(10, 7, 3, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    border: solid 3px darkgray;
    width: 90%;
    max-width: 400px;
    min-width: 280px;
    border-radius: 10px;
}